[run]
branch = True
source = deslib
include = */deslib/*
omit =
    */setup.py
    deslib/tests/*
    deslib/util/datasets.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
show_missing = True
