language: python
python:
  - "3.5"
  - "3.6"

# from https://github.com/travis-ci/travis-ci/issues/9815
# Enable 3.7 without globally enabling sudo and dist: xenial for other build jobs
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true

before_install:
  - pip install -U pip
install:
  - travis_wait travis_retry pip install -r requirements-dev.txt
  - travis_retry pip install codecov
  - travis_retry python setup.py build
  - travis_retry python setup.py install
script: coverage run -m py.test
after_success:
  - codecov
cache:
  - directories:
    - $HOME/.cache/pip
