language: python
python:
  - "3.5"
  - "3.6"
before_install:
  - pip install -U pip
install:
  - travis_wait travis_retry pip install -r requirements-dev.txt
  - travis_retry pip install codecov
  - travis_retry python setup.py build
  - travis_retry python setup.py install
script: py.test --cov-config=.coveragerc
after_success:
  - codecov
cache:
  - directories:
    - $HOME/.cache/pip
